 <nav>
      <div class="container">
        <div class="logo">
        <i class="fas fa-cloud-sun" style="font-size: 24px"></i> 
          <span>Weather Web</span>
        </div>
        <div class="lines">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="items">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/weather">Weather</a></li>
        </ul>
      </div>
    </nav>